@model IEnumerable<Programacion3.Models.Categorias>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />

<h2>Categorias</h2>

<p>
    @*@Html.ActionLink("Nuevo", "Create", new { @class = "btn btn-success" })
        @Html.ActionLink("Print", "Imprimir")*@

</p>
<table class="table" id="table">
    <tr>
        <th>
           Categoria @*@Html.DisplayNameFor(model => model.Categoria)*@
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.IdCategoria }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCategoria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCategoria })*@
        </td>
    </tr>
}

</table>
